@model List<MenuDto>


<ul class="navbar-nav flex-grow-1">
    @foreach (MenuDto item in Model)
    {
        <li class="nav-item">

            @if (!item.Menus.Any())
            {
                <a class="nav-link text-dark" asp-area="@item.Area" asp-controller="@item.Controller" asp-action="@item.Action">@item.Name</a>
            }
            else
            {
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @item.Name
                </a>
                <ul class="dropdown-menu">
                    @foreach (MenuDto subMenuItem in item.Menus)
                    {
                        <li>
                            <a class="dropdown-item" 
                                asp-area="@subMenuItem.Area" 
                                asp-controller="@subMenuItem.Controller" 
                                asp-action="@subMenuItem.Action">
                                @subMenuItem.Name</a>
                        </li>
                    }
                    
                </ul>
            }

        </li>
    }
</ul>


